*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: scrollbar;
  overflow: auto;
}

body {
  font-family: $text-font-family, sans-serif;
  font-size: $text-font-size;
  line-height: $text-line-height;
  font-weight: $text-font-weigth;
  background-color: #000;
  color: #fff;
  min-width: 320px;
  position: relative;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto !important;

  @include sm {
    font-size: 14px;
    line-height: 1.2;
  }
}

button,
input {
  font-family: $text-font-family;
  font-size: $text-font-size;
}

button {
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  border: none;
}

input,
textarea {
  outline: none;

  &:focus:required:invalid {
    border-color: red;
  }

  &:required:valid {
    border-color: green;
  }
}

input,
textarea,
button,
select {
  appearance: none;
}

input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: none;
}

// hide arrows
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

img,
svg {
  display: inline-block;
  vertical-align: middle;
}

b,
strong {
  font-weight: 700;
}

a {
  color: #fff;
  outline: none;
  text-decoration: none;
  transition: color 0.3s;

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

*[data-href] {
  cursor: pointer;
}

sup {
  display: inline-block;
  position: relative;
  transform: scale(0.55);
  transform-origin: left 0;
}

::placeholder {
  color: $color-gray;

  .js-input.js-error & {
    color: $color-error;
  }
}

::selection {
  background-color: $color-secondary;
  color: #fff;
}

.mt-55 {
  margin-top: 55px;
}

.mt-40 {
  margin-top: 40px;
}

.fz-24 {
  font-size: 24px;
}

.fz-20 {
  font-size: 20px;
}

.fz-18 {
  @include xl-min {
    font-size: 18px;
  }
}

.w-560 {
  max-width: 560px;
}

.bg-common {
  background: $color-nft-common;
}

.bg-uncommon {
  background: $color-nft-uncommon;
}

.bg-epic {
  background: $color-nft-epic;
}

.bg-rare {
  background: $color-nft-rare;
}

.bg-one-of-a-kind {
  background: $color-nft-on-of-kind;
  color: $color-text;
}

.bg-signature {
  background: $color-nft-signature;
  color: $color-text;
}

.bg-mystic {
  background: $color-nft-mystic;
  color: $color-text;
}

.bg-legendary {
  background: $color-nft-legendary;
  color: $color-text;
}

.wrapper {
  min-height: 900px;

  .section:first-child {
    @include xl-min {
      padding-top: $section-padding + 30px;
    }

    @include md {
      padding-top: 50px;
    }
    @include sm {
      padding-top: 30px;
    }
  }
}
