@import './vars';
@import './mixin';
@import './fonts';
@import './reset';
@import './base';

// content
@import './components/heading';
@import './components/text';
@import './components/items';
@import './components/image';
// content
// form
@import './components/form';
@import './components/input-text';
@import './components/input-radio';
@import './components/input-count';
@import './components/input-select';
// @import './components/input-file';
@import './components/button';
// form
// components
@import './components/section';
@import './components/header';
@import './components/footer';
@import './components/swiper';
@import './components/progress-bar';
@import './components/main';
@import './components/games';
@import './components/form-section';
@import './components/nfts';
@import './components/shop';
@import './components/game-detail';
@import './components/nft-detail';
@import './components/social';
@import './components/filter';
@import './components/tags';
@import './components/banner';
// components

.chart {
  background: #141414;
  border-radius: 10px;
  padding: 20px 28px;
}
