// color
$color-text: #000;
$color-primary: #00ff19;
$color-primary-hover: lighten($color-primary, 10%);
$color-secondary: #ff4501;
$color-secondary-hover: lighten($color-secondary, 10%);
$color-dangerous: #f10b34;
$color-dangerous-hover: lighten($color-dangerous, 10%);
$color-dark: #000;
$color-dark-nearly: #141414;
$color-light: #f3f3f3;
$color-placeholder: #aaa;
$color-input: #f4f7fb;
$color-disabled: #777;
$color-error: #f10b34;
$color-error-light: #ffeaea;
$color-success: #6fbd15;
$color-success-hover: lighten($color-success, 10%);
$color-gray: #aaa;
// color
// font
$font: 'Roboto';
// font
// text
$text-font-size: 16px;
$text-font-family: $font, sans-serif;
$text-line-height: 1.3;
$text-font-weigth: 400;
// text
// inputs
$input-height: 48px;
$input-padding: 12px;
$input-border-color: #fff;
$input-border-radius: 4px;
$input-mb: 40px;
$textarea-height: 120px;
// inputs
$btn-height: 48px;
// inputs
// header
$header-height: 85px;
$header-height-mobile: 60px;
// header
// section
$section-padding: 110px;
// section
// breakpoints
$xxs: 370;
$xs: 480;
$sm: 576;
$md: 767;
$lg: 992;
$xl: 1200;
$xxl: 1360;
$xxxl: 1600;
$xxxxl: 1870;
// breakpoints
// z index
$z-index-popup: 99;
// z index
$container-max-widths: (
  xs: 480px,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px,
  // xxl: 1310px,
  // xxxl: 1560px,
  // xxxxl: 1870px,,,,
);
// color nft
$color-nft-common: #b3b3b3;
$color-nft-uncommon: #00bf13;
$color-nft-rare: #0038ff;
$color-nft-epic: #a700e2;
$color-nft-signature: #fff;
$color-nft-legendary: #ff881a;
$color-nft-mystic: linear-gradient(130.42deg, #ce9335 0%, #fee5ac 49.12%, #ce9335 98.25%);
$color-nft-on-of-kind: linear-gradient(129.5deg, #2e62f6 0%, #fa9ffb 20%, #7df0cf 40%, #fbfecf 60%, #fcd9f1 80%, #91cdf7 100%);
// color nft
