$xxs: 370;
$xs: 480;
$sm: 576;
$md: 768;
$lg: 1024;
$xl: 1200;
$xxl: 1360;
$xxxl: 1600;
$xxxxl: 1870;
$color-nft-common: #b3b3b3;
$color-nft-uncommon: #00bf13;
$color-nft-rare: #0038ff;
$color-nft-epic: #a700e2;
$color-nft-signature: #fff;
$color-nft-legendary: #ff881a;
$color-nft-mystic: linear-gradient(130.42deg, #ce9335 0%, #fee5ac 49.12%, #ce9335 98.25%);
$color-nft-on-of-kind: linear-gradient(
  129.5deg,
  #2e62f6 0%,
  #fa9ffb 20%,
  #7df0cf 40%,
  #fbfecf 60%,
  #fcd9f1 80%,
  #91cdf7 100%
);
