.filter {
  margin-bottom: 64px;

  @include lg {
    margin-bottom: 45px;
  }

  &__bg {
    padding: 24px;
    background-color: $color-dark-nearly;
    border-radius: 16px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__left {
    display: flex;
  }

  &__right {
  }

  &__label {
  }

  &__number {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: $color-secondary;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-left: 16px;
    @include lg {
      width: 32px;
      height: 32px;
      line-height: 32px;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    position: relative;
    z-index: 9;
    @include lg {
      flex-direction: column;
    }
    &-item {
      display: flex;
      align-items: center;
      margin-left: 20px;
      margin-bottom: 20px;
      padding-right: 20px;
      @include lg {
        display: block;
      }
    }
    &-label {
      margin-right: 8px;
      @include lg {
        margin: 0 0 10px;
      }
    }
    &-input {
      @include lg-min {
        width: 207px;
      }
    }
  }

  &__button {
    margin-top: 24px;
    text-align: center;
  }
}
