.s-form {
  &__right {
    text-align: right;
    @include md {
      display: none;
    }
  }

  &__logo {
    margin-bottom: 105px;

    @include lg {
      margin-bottom: 50px;
    }
  }

  &__image {
    display: inline-block;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 452.06px;
      height: 452.06px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: rgba(0, 255, 26, 0.19);
      filter: blur(223.349px);
    }
    img {
      position: relative;
      z-index: 3;

      @include lg {
        max-width: 400px;
        height: auto;
      }
    }
  }
}
