.form {
  text-align: center;

  &__heading {
    margin-bottom: 30px;
  }

  &__input {
    margin-bottom: $input-mb;

    &--mb-sm {
      margin-bottom: 20px;
    }
  }

  &__link {
    margin-top: 75px;

    @include lg {
      margin-top: 50px;
    }

    &--forgot {
      margin-top: -15px;
      text-align: right;
    }
  }

  &__button {
    margin-top: 45px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    flex-direction: column;

    .btn {
      margin-top: 24px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}
