.slider-with-thumbs {
  &__video {
    .react-player__preview {
      border-radius: 12px;
    }
    .react-player__shadow {
      width: 100px !important;
      height: 100px !important;
    }
    .react-player__play-icon {
      width: 100px;
      height: 100px;
      background: center / contain no-repeat;
      background-image: url(/images/icons/play.svg);
      border: none !important;
    }
    video {
      object-fit: cover;
    }
  }
  &__image {
    border-radius: 12px;
    height: 100%;

    @include sm {
      border-radius: 8px;
    }

    &--full {
      &::before {
        height: 100%;
        padding-top: 0;
        @include sm {
          height: 400px;
        }
        @include xs {
          padding-top: 100%;
          height: auto;
        }
      }
    }

    &--thumb {
      cursor: pointer;
      &::before {
        padding-top: 100%;

        @include sm {
          padding-top: 80%;
        }
      }
    }
  }
  &__slider {
    &--full {
      @include sm-min {
        max-height: 676px;
        height: 100%;
      }
    }
    &--thumb {
      @include sm-min {
        height: 400px;
      }
      @include lg-min {
        height: 676px;
      }
    }
  }
  &__slide {
    &.swiper-slide-thumb-active {
      .image {
        &::after {
          border: 3px solid $color-secondary;
        }
      }
    }
  }
}
