// TODO: remove .input
.input .react-select {
  &__control {
    @include input;

    &:hover {
      border-color: #fff;
    }
    &--menu-is-open {
      .react-select__indicator {
        transform: rotate(90deg);
      }
    }
  }

  &__value-container {
    padding: 0;
  }

  &__single-value {
    color: #fff;
  }
  &__indicators {
  }
  &__dropdown-indicator {
    width: 24px;
    height: 24px;
    background: center / contain no-repeat;
    background-image: url(/images/icons/chevron.svg);
    transform: rotate(-90deg);
    transition: transform 0.3s;

    svg {
      display: none;
    }
  }
  &__indicator-separator {
    display: none;
  }
  &__menu {
    background-color: $color-dark;
    margin: 0;
    box-shadow: none;
    border-radius: 10px;

    &-list {
    }
  }
  &__option {
    cursor: pointer;
    background-color: transparent;
    &--is-selected {
      background-color: $color-primary;
      color: $color-text;
    }
    &:hover {
      background-color: $color-secondary;
      color: #fff;
    }
  }
}

.input--error .react-select {
  &__control {
    border-color: $color-error;
  }
}
