@mixin input {
  height: $input-height;
  width: 100%;
  max-width: 100%;
  padding: 0 $input-padding;
  border: 1px solid $input-border-color;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
  text-align: left;
  font-weight: 400;
  border-radius: 8px;
  font-family: $text-font-family;
  color: #fff;
  font-size: $text-font-size;
  transition: border 0.3s, background-color 0.3s;
}

.input {
  position: relative;
  text-align: left;

  &-label {
    text-align: left;
    font-weight: 500;
    margin-bottom: 10px;
  }

  &-head {
    display: flex;
    justify-content: space-between;
  }

  &__input {
    @include input;
  }

  &-error {
    font-size: 14px;
    color: $color-error;
    margin-top: 5px;
    line-height: 1.3;
    transition: opacity 0.3s, visibility 0.3s;
    text-align: left;
  }
}

.input {
  &--filled &__input,
  &__input:focus {
    border-color: $color-primary;
  }

  &--success {
    .input__input {
      border-color: $color-success;
    }
  }

  &--error {
    .input__input {
      border-color: $color-error !important;
    }
  }
}

.input {
  &--textarea {
    .input__input {
      height: auto;
      min-height: $textarea-height;
      padding-top: 20px;
      resize: vertical;
      vertical-align: top;

      @include sm {
        height: 120px;
        min-height: 120px;
      }
    }
  }

  &--inline {
    @include md-min {
      margin-bottom: 0;
    }
  }
}

.input {
  &--disabled {
    .input__input {
      background-color: $color-disabled;
    }
  }
}

// TODO: remove .input
.input .react-select {
  &__control {
    @include input;

    &:hover {
      border-color: #fff;
    }
    &--menu-is-open {
      .react-select__indicator {
        transform: rotate(90deg);
      }
    }
  }

  &__value-container {
    padding: 0;
  }

  &__single-value {
    color: #fff;
  }
  &__indicators {
  }
  &__dropdown-indicator {
    width: 24px;
    height: 24px;
    background: center / contain no-repeat;
    background-image: url(/images/icons/chevron.svg);
    transform: rotate(-90deg);
    transition: transform 0.3s;

    svg {
      display: none;
    }
  }
  &__indicator-separator {
    display: none;
  }
  &__menu {
    background-color: $color-dark;
    margin: 0;
    box-shadow: none;
    border-radius: 10px;

    &-list {
    }
  }
  &__option {
    cursor: pointer;
    background-color: transparent;
    &--is-selected {
      background-color: $color-primary;
      color: $color-text;
    }
    &:hover {
      background-color: $color-secondary;
      color: #fff;
    }
  }
}

.input-count {
  position: relative;
  display: flex;

  &__input {
    text-align: center;
    width: 44px;
    height: 44px;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 0 5px;
    border-radius: 4px;
    color: #fff;
    margin: 0 4px;
    transition: border-color 0.3s;

    &:focus {
      border-color: $color-secondary;
    }
  }

  &__operation {
    width: 44px;
    height: 44px;
    user-select: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    &--minus {
      left: 20px;
      line-height: 19px;
    }

    &--plus {
      right: 20px;
    }
    &:hover {
      color: $color-text;
      background-color: $color-secondary;
    }
  }
}
