@mixin input {
  height: $input-height;
  width: 100%;
  max-width: 100%;
  padding: 0 $input-padding;
  border: 1px solid $input-border-color;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
  text-align: left;
  font-weight: 400;
  border-radius: 8px;
  font-family: $text-font-family;
  color: #fff;
  font-size: $text-font-size;
  transition: border 0.3s, background-color 0.3s;
}

.input {
  position: relative;
  text-align: left;

  &-label {
    text-align: left;
    font-weight: 500;
    margin-bottom: 20px;
  }

  &-head {
    display: flex;
    justify-content: space-between;
  }

  &__input {
    @include input;
  }

  &-error {
    font-size: 14px;
    color: $color-error;
    margin-top: 5px;
    line-height: 1.3;
    transition: opacity 0.3s, visibility 0.3s;
    text-align: left;
  }
}

.input {
  &--filled &__input,
  &__input:focus {
    border-color: $color-primary;
  }

  &--success {
    .input__input {
      border-color: $color-success;
    }
  }

  &--error {
    .input__input {
      border-color: $color-error !important;
    }
  }
}

.input {
  &--textarea {
    .input__input {
      height: auto;
      min-height: $textarea-height;
      padding-top: 20px;
      resize: vertical;
      vertical-align: top;

      @include sm {
        height: 120px;
        min-height: 120px;
      }
    }
  }

  &--inline {
    @include md-min {
      margin-bottom: 0;
    }
  }
}

.input {
  &--disabled {
    .input__input {
      background-color: $color-disabled;
    }
  }
}
