.main {
  &__items {
    &-controls {
      &,
      &.swiper-controls--bottom {
        @include xl-min {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 30px;
          justify-content: center;
          flex-direction: column;

          .swiper-pagination {
            position: relative;
            flex-direction: column;
            margin: 20px 0;

            &-bullet {
              margin: 4px 0;
              &::before {
                width: 15px;
                height: 15px;
              }
            }
          }
          .swiper-button-prev,
          .swiper-button-next {
            position: relative;
            margin: 0 auto;
            width: 44px;
            height: 44px;
            border-color: #ff4501;
            &:hover {
              border-color: #fff;
            }

            &::before {
              background-image: url('/images/icons/noun-arrow-secondary.svg');
            }
            &::after {
              background-image: url('/images/icons/noun-arrow.svg');
            }
          }
          .swiper-button-prev {
            transform: rotate(90deg);
          }
          .swiper-button-next {
            transform: rotate(90deg);
          }
        }
        @include xxxxl-min {
          left: 50%;
          margin-left: 820px;
        }
        @include xl {
          position: absolute;
          bottom: 40px;
          left: 0;
          right: 0;
        }
      }
    }
  }
}
