.MuiPagination-root {
  display: flex;
  justify-content: center;
}

.MuiPaginationItem-previousNext,
.MuiPaginationItem-page {
  background-color: $color-dark-nearly;
  color: #fff;
  width: 44px;
  height: 44px;
  line-height: 44px;
  border-radius: 4px;
  text-align: center;
  position: relative;
  transition: all 0.3s;

  @include xs {
    width: 36px;
    height: 36px;
  }

  &.Mui-selected,
  &:hover {
    background-color: $color-gray;
    color: $color-text;
  }

  &.Mui-selected:hover {
    background-color: $color-gray;
    color: $color-text;
  }
}

.MuiPaginationItem-ellipsis {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  min-width: 1px;
  @include sm {
  }
}

.MuiPaginationItem-previousNext {
  margin: 0 20px;

  @include sm {
    margin: 0 5px;
  }

  svg {
    width: 24px;
    height: 24px;
  }
}

.MuiModal-backdrop {
  background-color: rgba(#000, 0.6);
  backdrop-filter: blur(4px);
}
.MuiDrawer-paper {
  background-color: #000;
  padding: 50px 30px;
  color: #fff;
  border: 5px solid #777;
  border-radius: 12px 12px 0px 0px;
}
