.news {
  &__items {
    margin-bottom: -40px;
    &-item {
      margin-bottom: 40px;

      &.item-bg--grid {
        @include sm-min {
          padding-left: 40px;
          padding-right: 40px;
          padding-bottom: 25px;
        }
      }
    }
    &-bg {
      background-color: #141414;
      border-radius: 8px;
    }
    &-img {
      border-radius: 8px;
      margin-bottom: 20px;

      &::before {
        padding-top: 58%;
      }
    }
    &-date {
      margin-bottom: 20px;
      font-size: 14px;

      .text-icon {
        top: -3px;
      }
    }

    &-title {
      text-transform: uppercase;
      line-height: 1.2;
    }
    &-descr {
      margin-top: 20px;
      @include sm {
        font-size: 16px;
      }
    }
    &-link {
      margin-top: 45px;
    }
  }
}

.s-news {
  &__heading-wrapper {
    .section__heading-btn {
      @include lg {
        display: none;
      }
    }
  }
}
