.nft-detail {
  margin-bottom: -24px;

  &__block {
    padding: 24px 24px 20px;
    border-radius: 8px;
    background-color: $color-dark-nearly;
    margin-bottom: 24px;
    @include sm {
      padding: 16px;
    }

    &--sm {
      padding: 16px;
      margin-bottom: 8px;
    }
  }
  &__title,
  &__subtitle {
    text-transform: uppercase;
    font-weight: 700;
  }
  &__title {
    line-height: 1.15;
    margin-top: -10px;
    margin-bottom: 25px;
    @include xl {
      margin-bottom: 10px;
    }
  }
  &__subtitle {
    font-style: italic;
    color: $color-primary;
    margin-bottom: 45px;
    @include xl {
      margin-bottom: 20px;
    }
  }
  &__rarity {
    margin-bottom: 30px;
  }
  &__list {
    &-mt-lg {
      margin-top: 45px;
    }
  }
  &__image {
    margin-bottom: 20px;

    img {
      @include sm {
        padding: 0;
      }
    }
  }
  &__progress-bar {
    margin-bottom: 10px;
  }
  &__button {
    margin-top: 45px;
  }
}

.accordion {
  border-radius: 8px;
  background-color: $color-dark-nearly;
  margin-bottom: 16px;

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    padding: 5px 16px;
    font-weight: 500;
    cursor: pointer;
  }

  &__content {
    padding: 16px;
  }
}

.detail-list {
  padding-bottom: 1px;

  &__item {
    margin-bottom: 18px;

    &:last-child {
      margin-bottom: 0;
    }

    &--row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__item--row &__label {
    margin-right: 5px;
    margin-bottom: 0;
  }
  &__item--row &__value {
    text-align: right;
    @include xl-min {
      font-size: 18px;
    }
  }
  &__label {
    color: $color-gray;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  &__value {
    margin-left: auto;
    font-size: 16px;

    &--fz-14-mobile {
      @include sm {
        font-size: 14px;
      }
    }

    &--fz-18 {
      font-size: 18px;
    }

    &#{&}--fz-24 {
      font-size: 24px;
    }
    &--w-150 {
      text-align: center;
      width: 150px;
      padding: 0 5px;
      @include sm {
        width: 70px;
      }
      @include xs {
        width: 50px;
      }
    }
  }

  &__item--row &__value--w-150 {
    text-align: center;
  }

  &__params {
    display: flex;
    justify-content: space-between;
    width: 120px;
    border-bottom: 1px solid #fff;
    &-item {
    }
  }
  &__copy-link {
    margin-top: 10px;
  }
  &__button {
    margin-top: 15px;
    text-align: right;
  }
}
