.nfts {
  &__items {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 100%;
      margin-left: -200px;
      bottom: 0;
      width: 400px;
      background: linear-gradient(270deg, #080808 0%, rgba(8, 8, 8, 0) 100%);
      z-index: 3;
      user-select: none;
      pointer-events: none;
    }
    .swiper-slide {
      transition: all 0.5s;
      opacity: 1;
      &-prev {
        opacity: 0;
      }
    }
    .swiper-controls--bottom .swiper-button-next,
    .swiper-controls--bottom .swiper-button-prev {
      @include lg-min {
        position: absolute;
        bottom: auto;
        top: 235px;
      }
    }
    .swiper-controls--bottom .swiper-button-prev {
      @include lg-min {
        left: -5px;
      }
    }
    .swiper-controls--bottom .swiper-button-next {
      @include lg-min {
        right: -5px;
      }
    }
    &.swiper {
      @include r-min(1700) {
        padding-left: 100px;
        margin-right: -100px;
      }
      @include sm {
        padding-right: 50px;
      }
    }
    &-controls {
      @include lg-min {
        padding-right: 100px;
      }
    }
  }
}
