.progress-bar {
  &__label {
    font-weight: 500;
    font-size: 18px;
    &--sm {
      font-size: 14px;
    }
  }
  &__line {
    height: 10px;
    background-color: #fff;
    margin: 10px 0;
    border-radius: 1000px;

    &-fill {
      border-radius: inherit;
      background-color: $color-secondary;
      width: 50%;
      height: 100%;
    }
  }
}
