.section {
  position: relative;
  padding-top: $section-padding;
  padding-bottom: $section-padding;
  background: center top / cover no-repeat;
  @include xl {
    padding: 100px 0;
  }
  @include md {
    padding: 80px 0;
  }
  @include sm {
    padding: 60px 0;
  }

  &--reset-header-height {
    margin-top: -$header-height;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: center / cover no-repeat;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: center / cover no-repeat;
    }

    &--gradient {
      background: linear-gradient(180deg, #3c453c 0%, #000000 100%);
      &::before {
        background-image: url(/images/bg/asfalt-light.png);
        opacity: 0.3;
      }
    }
  }

  &--gradient {
    background: linear-gradient(180deg, #000 0%, #333 150.56%);
  }

  &__heading {
    text-transform: uppercase;
    margin-bottom: 60px;
    @include xl {
      margin-bottom: 50px;
    }
    @include lg {
      margin-bottom: 40px;
    }
    @include sm {
      margin-bottom: 30px;
    }

    &.h1,
    &.h1 + .section__descr {
      text-align: center;
    }

    &-icon {
      padding-left: 75px;
      position: relative;
      display: inline-block;
      @include md {
        padding-left: 60px;
      }
      @include sm {
        padding-left: 50px;
      }
      &::before {
        content: '';
        position: absolute;
        top: 10px;
        left: 5px;
        width: 50px;
        height: 50px;
        background: center / contain no-repeat;
        background-image: url(/images/icons/h2-icon-secondary.svg);
        @include lg {
          top: 3px;
        }
        @include md {
          width: 40px;
          height: 40px;
        }
        @include sm {
          font-size: 32px;
          width: 32px;
          height: 32px;
        }
        @include xs {
          top: 0;
        }
      }

      &--right {
        padding-left: 0;
        padding-right: 70px;
        @include md {
          padding-right: 60px;
        }
        @include sm {
          padding-right: 50px;
        }

        &::before {
          left: auto;
          right: 0;
          background-image: url(/images/icons/h2-icon-primary.svg);
        }
      }
    }

    &-wrapper {
      display: flex;
      justify-content: space-between;
    }
    &-wrapper & {
    }

    &-wrapper &-btn {
      margin-top: 15px;
    }
  }

  &__heading + &__descr {
    margin-top: -25px;
  }

  &__descr {
    text-transform: none;
    font-size: 18px;
    margin-bottom: 70px;

    @include lg {
      margin-bottom: 40px;
    }
  }
}
